@page "/about"

<h1>About</h1>

<div>
    <p class="about_text">
        This is a simple football app which displays information about a given league or competition.  It displays information consisting of:
    </p>
        
    <ul>
        <li>Fixtures and Results</li>
        <li>Groups</li>
        <li>Teams and Players</li>
        <li>Player Search </li>
    </ul>

    <p>
        The Player Search page was developed as a way to help with playing the Football based Wordle game called <a href="https://futboldle.com/" class="underline font-bold">Futboldle</a>.  
        The player search tool helps with playing the Futboldle game as can search the list of competition players based on the following criteria:
    </p>

    <ul>
        <li>Player Name - wildcard search</li>
        <li>Team Name - wildcard search</li>
        <li>Player Age - between an age range</li>
        <li>Player Nationality - wildcard search</li>
        <li>Player Position - position the player plays in (Goalkepper, Defence, Midfield, Attacker) - multi-select list</li>
        <li>Player Confederation (football confederation that player's nationality belongs to) - multi-select list</li>
        <li>Team Position - between a team position range in the league or group table</li>
    </ul>

    <p>
        It utilises the Football based REST API called <a href="https://www.football-data.org/" class="underline font-bold">Football Data API</a>
    </p>

    <ul>
        <li>App is Developed using Blazor Server/.Net 6</li>
        <li>
            Data coming from the Football Data API is currently cached for a configurable number of hours (currently 3) into
            a class called FootballDataState which is an injected singleton class
        </li>
    </ul>
</div>
