@page "/fixturesandresults"

@inject IFootballDataService FootballDataService;
@inject ITimeZoneOffsetService TimeZoneOffsetService;
@inject FootballEngineInput FootballEngineInput;

<h1 style="padding-bottom: 10px;">Fixtures & Results - @FootballEngineInput.SelectedCompetition.CompetitionName</h1>

@if (fixturesAndResultsByDays == null && !isInvalidFixturesAndResults)
{
    <p><em>Loading...</em></p>
}
else if (isInvalidFixturesAndResults)
{
    <ErrorMessage Error="@ErrorMessage"></ErrorMessage>
}
else if (!fixturesAndResultsByDays.Any())
{
    <ErrorMessage Error="No fixtures could be found"></ErrorMessage>
}
else
{
    @foreach (var fixtureandResultByDay in fixturesAndResultsByDays)
    {
        <FixturesAndResultsByDayComponent ComponentSource="Enums.ComponentSource.FixturesAndResults" FixturesAndResultsByDayModel="fixtureandResultByDay"></FixturesAndResultsByDayComponent>
    }
}
