@page "/fixturesandresults"

@using FootballBlazorApp.Models;
@using FootballBlazorApp.Data;
@using FootballBlazorApp.Components;
@using Models.Enums;
@inject IFootballDataService FootballDataService;

<h1 style="padding-bottom: 10px;">Fixtures & Results</h1>

@if (fixturesAndResultsByDays == null && !isInvalidFixturesAndResults)
{
    <p><em>Loading...</em></p>
}
else if (isInvalidFixturesAndResults)
{
    <ErrorMessage Error="@ErrorMessage"></ErrorMessage>
}
else if (!fixturesAndResultsByDays.Any())
{
    <ErrorMessage Error="No fixtures could be found"></ErrorMessage>
}
else
{
    <div style="padding-bottom: 20px">
        <select id="Matchday" name="Matchday" @onchange=@MatchdaySelected>
            <option value="0">--all--</option>
            @foreach (var matchday in matchdays)
            {
                <option value="@matchday">@matchday</option>
            }
        </select>
    </div>
    
    @foreach (var fixtureandResultByDay in fixturesAndResultsByDaysFilteredByMatchday)
    {
        <FixturesAndResultsByDay ComponentSource="Enums.ComponentSource.FixturesAndResults" FixturesAndResultsByDayModel="fixtureandResultByDay"></FixturesAndResultsByDay>
    }
}

@code {
    private List<int> matchdays;
    private int selectedMatchday;
    private List<Models.FixturesAndResultsByDay> fixturesAndResultsByDays = null;
    private List<Models.FixturesAndResultsByDay> fixturesAndResultsByDaysFilteredByMatchday = null;

    private bool isInvalidFixturesAndResults = false;

    private string ErrorMessage { get; set; }

    private List<Models.FixturesAndResultsByDay> GetFixturesAndResultsForMatchday(int matchday) =>
                                                                fixturesAndResultsByDays
                                                                    .Where(x => x.Matchday == matchday || matchday == 0)
                                                                    .ToList();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            fixturesAndResultsByDays = await FootballDataService.GetFixturesAndResultsByDays();
            fixturesAndResultsByDaysFilteredByMatchday = fixturesAndResultsByDays;

            matchdays = fixturesAndResultsByDays
                            .GroupBy(x => x.Matchday)
                            .Select(x => x.Key)
                            .OrderBy(x => x)
                            .ToList();

            isInvalidFixturesAndResults = false;
        }
        catch (Exception ex) when (ex.Message.Contains(Constants.TOO_MANY_REQUESTS_ERROR_CODE.ToString()))
        {
            isInvalidFixturesAndResults = true;
            ErrorMessage = Constants.TOO_MANY_REQUESTS_ERROR_MESSAGE;
        }
        catch (Exception)
        {
            isInvalidFixturesAndResults = true;
            ErrorMessage = $"Could not retrieve any fixtures & results";
        }
    }

    protected void MatchdaySelected(ChangeEventArgs e)
    {
        selectedMatchday = Convert.ToInt32(e.Value.ToString());

        fixturesAndResultsByDaysFilteredByMatchday = fixturesAndResultsByDays;

        fixturesAndResultsByDaysFilteredByMatchday = fixturesAndResultsByDaysFilteredByMatchday
                                                        .Where(x => x.Matchday == selectedMatchday || selectedMatchday == 0)
                                                        .ToList();
    }
}
