@page "/groupsOrLeagueTable"

@inject IFootballDataService FootballDataService;
@inject IConfiguration Configuration;

<img src="@groupEmblemForDisplay" width="150px" height="150px" />

@if (Convert.ToBoolean(Configuration["HasGroups"].ToString()))
{
    <h1 style="padding-top: 20px; padding-bottom: 20px;">Groups</h1>
}

@if(groupsOrLeagueTable == null && !isInvalidGroupsOrLeagueTable)
{
    <p><e2m>Loading...</e2m></p>
}
else if (isInvalidGroupsOrLeagueTable)
{
    <ErrorMessage Error="@ErrorMessage"></ErrorMessage>
}
else if (!groupsOrLeagueTable.Any())
{
    <ErrorMessage Error="No groups or league table could be found"></ErrorMessage>
}
else
{
    @foreach (var groupOrLeagueTable in groupsOrLeagueTable)
    {
        <GroupOrLeagueTable GroupOrLeagueTableModel="groupOrLeagueTable"></GroupOrLeagueTable>
    }
}