@page "/playersearch"

@inject IFootballDataService FootballDataService;
@inject IConfiguration Configuration;

<h1>Player Search</h1>

<style>
    .sort-link
    {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
    }
</style>

<EditForm Model="@playerSearchCriteria" OnValidSubmit="@SearchPlayersAsync">
    <PlayerSearchBar playerSearchCriteria="playerSearchCriteria"></PlayerSearchBar>

    <table>
        <tr>
            <td>
                <button class="btn" type="button" @onclick="SearchPlayersAsync">Search</button>
           </td>
           <td>
                <button class="btn" type="button" @onclick="ClearSearchAsync">Clear</button>
           </td>
        </tr>
    </table>
</EditForm>

<PlayerSearchResults players="players"></PlayerSearchResults>
