@page "/teams"
  
@inject IFootballDataService FootballDataService;

<h1 style="padding-bottom: 20px;">Teams</h1>

@if (teams == null && !isInvalidTeams)
{
    <p><em>Loading...</em></p>
}
else if (isInvalidTeams)
{
    <ErrorMessage Error="@ErrorMessage"></ErrorMessage>
}
else if (!teams.Any())
{
    <ErrorMessage Error="No teams could be found"></ErrorMessage>
}
else
{
    <div class="teamsContainer">
        <ul>
            @foreach (var team in teams)
            {
                <TeamTile Team="team"></TeamTile>
            }
        </ul>
    </div>
}