@page "/teams"
  
@inject IFootballDataService FootballDataService;

<h1 style="padding-bottom: 20px;">Teams</h1>

@if (TeamsList == null && !isInvalidTeams)
{
    <p><em>Loading...</em></p>
}
else if (isInvalidTeams)
{
    <ErrorMessage Error="@ErrorMessage"></ErrorMessage>
}
else if (!TeamsList.Any())
{
    <ErrorMessage Error="No teams could be found"></ErrorMessage>
}
else
{
    if (IsSmall)
    {
        <ul>
            @foreach (var team in TeamsList)
            {
                <TeamTile Team="team"></TeamTile>
            }
        </ul>
    }
    else
    {
        <div class="teamsContainer">
            <ul>
                @foreach (var team in TeamsList)
                {
                    <TeamTile Team="team"></TeamTile>
                }
            </ul>
        </div>
    }
}

<MediaQuery Media="@BlazorPro.BlazorSize.Breakpoints.SmallDown" @bind-Matches="IsSmall" />