@using Models.Enums;
@using Models;

<tr>
    <td>@GetStageName(fixture)</td>
    <td>@GetTeamName(fixture.HomeTeam)</td>
    <td>@fixture.FixtureDate.ToString("HH:mm")</td>
    <td>@GetTeamName(fixture.AwayTeam)</td>
</tr>

@code {
    private const string TBD = "TBD";

    private string GetStageNameForDisplay(Enums.Stage stage) => stage.ToString().Replace("_", " ");

    private string GetStageName(Models.Fixture fixture) =>
                                        fixture.Stage == Enums.Stage.Group
                                        ? fixture.Group.Name
                                        : GetStageNameForDisplay(fixture.Stage);

    private bool TeamExists(Team team) => team != null && !string.IsNullOrEmpty(team.Name);

    private string GetTeamName(Team team) => TeamExists(team) ? team.Name : TBD;

    [Parameter]
    public Models.Fixture fixture { get; set; }
}
