@using Models.Enums;

@if (fixturesAndResultsExist)
{
    <h3 style="padding-bottom: 10px;">Fixtures</h3>
    
    <table class="table" style="width: 450px; margin-bottom: 20px;">
        @foreach (var fixtureandResultByDay in FixturesAndResultsByGroupModel.FixturesAndResultsByDays)
        {
            <FixturesAndResultsByDay ComponentSource="Enums.ComponentSource.FixturesByGroup" FixturesAndResultsByDayModel="fixtureandResultByDay"></FixturesAndResultsByDay>
        }
    </table>
}

@code {
    private bool fixturesAndResultsExist => FixturesAndResultsByGroupModel != null && (FixturesAndResultsByGroupModel.FixturesAndResults?.Count ?? 0) > 0;

    [Parameter]
    public Models.FixturesAndResultsByGroup FixturesAndResultsByGroupModel { get; set; }
}
