@if(fixturesExist)
{
    <h3 style="padding-bottom: 10px;">@fixtureDate.ToString("dddd dd MMMM yyyy")</h3>

    <table class="table" style="width: 450px; margin-bottom: 20px;">
        @foreach (var fixtureAndResult in fixturesAndResultsByDay.FixturesAndResults)
        {
            <FixtureAndResult fixtureAndResult="fixtureAndResult"></FixtureAndResult>
        }
    </table>
}

@code {
    private DateTime fixtureDate;
    private bool fixturesExist => fixturesAndResultsByDay != null && (fixturesAndResultsByDay.FixturesAndResults?.Count ?? 0) > 0;

    [Parameter]
    public Models.FixturesAndResultsByDay fixturesAndResultsByDay { get; set; }

    protected override void OnInitialized()
    {
        fixtureDate = fixturesExist ? fixturesAndResultsByDay.FixtureDate : DateTime.MinValue;
    }
}
