@if(fixturesExist)
{
    <h3>@fixtureDate.ToString("dddd dd MMMM yyyy")</h3>

    <table>
        @foreach (var fixture in fixtureByDay.Fixtures)
        {
            <Fixture fixture="fixture"></Fixture>
        }
    </table>
}

@code {
    private DateTime fixtureDate;
    private bool fixturesExist => fixtureByDay != null && (fixtureByDay.Fixtures?.Count ?? 0) > 0;

    [Parameter]
    public Models.FixturesByDay fixtureByDay { get; set; }

    protected override void OnInitialized()
    {
        fixtureDate = fixturesExist ? fixtureByDay.FixtureDate : DateTime.MinValue;
    }
}
