@using Models.Enums;

@if (fixturesAndResultsExist)
{
    <h2 style="padding-bottom: 10px;">@fixtureDate.ToString("dddd dd MMMM yyyy")</h2>

    <table class="table" style="width: 450px; margin-bottom: 20px;">
        @foreach (var fixtureAndResult in fixturesAndResultsByDay.FixturesAndResults)
        {
            <FixtureAndResult fixtureSource="@Enums.FixtureSource.FixturesByDay" fixtureAndResult="fixtureAndResult"></FixtureAndResult>
        }
    </table>
}

@code {
    private DateTime fixtureDate;
    private bool fixturesAndResultsExist => fixturesAndResultsByDay != null && (fixturesAndResultsByDay.FixturesAndResults?.Count ?? 0) > 0;

    [Parameter]
    public Models.FixturesAndResultsByDay fixturesAndResultsByDay { get; set; }

    protected override void OnInitialized()
    {
        fixtureDate = fixturesAndResultsExist ? fixturesAndResultsByDay.FixtureDate : DateTime.MinValue;
    }
}
