@if (fixturesAndResultsExist)
{
    <h3 style="padding-bottom: 10px;">Fixtures</h3>
    
    <table class="table" style="width: 450px; margin-bottom: 20px;">
        @foreach (var fixtureandResultByDay in FixturesAndResultsByGroupOrLeagueTableModel.FixturesAndResultsByDays)
        {
            <FixturesAndResultsByDayComponent ComponentSource="Enums.ComponentSource.FixturesByGroup" FixturesAndResultsByDayModel="fixtureandResultByDay"></FixturesAndResultsByDayComponent>
        }
    </table>
}

@code {
    private bool fixturesAndResultsExist => FixturesAndResultsByGroupOrLeagueTableModel != null 
                                            && (FixturesAndResultsByGroupOrLeagueTableModel.FixturesAndResults?.Count ?? 0) > 0;

    [Parameter]
    public FootballShared.Models.FixturesAndResultsByGroupOrLeagueTable FixturesAndResultsByGroupOrLeagueTableModel { get; set; }
}
