@using Models;

<li>
    <span>
        <span style="padding-right: 8px;">
            <img src="@Team.TeamCrestUrl" width="40" height="55" />
        </span>
        <span>
            <a href="team/@Team.TeamID">@Team.Name</a>
        </span>
    </span>
</li>

@code {
    [Parameter]
    public Team Team { get; set; }
}
