@inject FootballEngineInput FootballEngineInput;

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Football Blazor App</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="groupsOrLeagueTable">
                <span class="oi oi-list-rich" aria-hidden="true"></span> @GroupsOrLeagueTable
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fixturesandresults">
                <span class="oi oi-info" aria-hidden="true"></span> Fixtures & Results
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="teams">
                <span class="oi oi-person" aria-hidden="true"></span> Teams & Players
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="playersearch">
                <span class="oi oi-person" aria-hidden="true"></span> Player Search
            </NavLink>
        </li>
    </ul>
</div>

<div>
    <CompetitionSelector />
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string GroupsOrLeagueTable => FootballEngineInput.SelectedCompetition.HasGroups ? "Groups" : "League Table";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
