@page "/fixturesandresults"

@using Euro2020BlazorApp.Data;
@using Euro2020BlazorApp.Components;
@inject IFootballDataService FootballDataService;

<h1 style="padding-bottom: 10px;">Fixtures</h1>

@if (fixturesAndResultsByDays == null)
{
    <p><em>Loading...</em></p>
}
else if (!fixturesAndResultsByDays.Any())
{
    <p><em>No fixtures could be found</em></p>
}
else
{
    @foreach (var fixtureandResultByDay in fixturesAndResultsByDays)
    {
        <FixturesAndResultsByDay fixturesAndResultsByDay="fixtureandResultByDay"></FixturesAndResultsByDay>
    }
}

@code {
    private List<Models.FixturesAndResultsByDay> fixturesAndResultsByDays = null;

    protected override async Task OnInitializedAsync()
    {
        fixturesAndResultsByDays = await FootballDataService.GetFixturesAndResultsByDays();
    }
}
