@page "/fixtures"

@using Euro2020BlazorApp.Data;
@using Euro2020BlazorApp.Components;
@inject IFootballDataService FootballDataService;

<h3>Fixtures</h3>

@if (fixturesByDay == null)
{
    <p><em>Loading...</em></p>
}
else if (!fixturesByDay.Any())
{
    <p><em>No fixtures could be found</em></p>
}
else
{
    @foreach (var fixtureByDay in fixturesByDay)
    {
        <FixturesByDay fixtureByDay="fixtureByDay"></FixturesByDay>
    }
}

@code {
    private List<Models.FixturesByDay> fixturesByDay = null;

    protected override async Task OnInitializedAsync()
    {
        fixturesByDay = await FootballDataService.GetFixtures();
    }
}
