@page "/groups"

@using Euro2020BlazorApp.Data;
@using Euro2020BlazorApp.Components;
@inject IFootballDataService FootballDataService;

<h1 style="padding-bottom: 20px;">Groups</h1>

@if (groups == null)
{
    <p><em>Loading...</em></p>
}
else if (!groups.Any())
{
    <p><em>No groups could be found</em></p>
}
else
{
    @foreach (var group in groups)
    {
        <Group GroupModel="group"></Group>
    }
}


@code {
    private List<Models.Group> groups = null;

    protected override async Task OnInitializedAsync()
    {
        groups = await FootballDataService.GetGroups();
    }
}
