@page "/"

<div style="padding-bottom: 20px">
    <img src="brand.png" width="50" height="50" />
    <span style="margin-left: 10px" class="h1">Euro 2020 Blazor Server App</span>
</div>

<ul style="font-size: 18px">
    <li><a href="groups">Groups</a></li>
    <li><a href="fixturesandresults">Fixtures & Results</a></li>
    <li><a href="teams">Teams & Players</a></li>
</ul>


