@page "/test"

@using Euro2020BlazorApp.Models;
@using Euro2020BlazorApp.Data;
@inject IFootballDataService FootballDataService;

<h3>Test</h3>

@code {
    List<Group> groups;
    List<Fixture> fixtures;


    protected override async Task OnInitializedAsync()
    {
        await RefreshPage();
    }

    private async Task RefreshPage()
    {
        groups = await FootballDataService.GetGroups();
        fixtures = await FootballDataService.GetFixtures();
    }
}
